{% extends "base.html" %}
{% block content %}
<div class="auth-container">
    <h2 class="auth-title">Set New Password</h2>
    <form method="post" class="auth-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_new_password1">New Password:</label>
            {{ form.new_password1 }}
        </div>
        <div class="form-group">
            <label for="id_new_password2">Confirm New Password:</label>
            {{ form.new_password2 }}
        </div>
        <button type="submit" class="btn-submit">Set Password</button>
    </form>
</div>
{% endblock %}
