{% extends "../base/base.html" %}
<!-- prettier-ignore -->
{% load static %}
<body class="visitors-body">
	{% block content %}
	<div class="visitors container">
		<h1 class="visitors-title">Visitors</h1>
		{% if visitors %}
		<table class="visitors-table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Phone</th>
					<th>Favorite Thing to Cook</th>
					<th>Additional Comments</th>
					{% if user.is_authenticated and user.is_staff %}
					<th>Actions</th>
					{% endif %}
				</tr>
			</thead>
			<tbody id="visitorsTableBody">
				{% for visitor in visitors %}
				<tr id="visitor-{{ visitor.id }}">
					<td>{{ visitor.name }}</td>
					<td>{{ visitor.email }}</td>
					<td>{{ visitor.phone }}</td>
					<td>{{ visitor.favorite_thing_to_cook }}</td>
					<td>{{ visitor.additional_comments }}</td>
					<td class="row">
						{% if user.is_authenticated and user.is_staff %}
						<button
							type="button"
							class="btn-edit"
							onclick="openEditModal({{ visitor.id }})"
						>
							✏️
						</button>
						<form
							method="post"
							action="{% url 'delete_visitor' visitor.id %}"
							class="form-delete"
							onsubmit="deleteVisitor(event, {{ visitor.id }})"
						>
							{% csrf_token %}
							<button type="submit" class="btn-delete">
								❌
							</button>
						</form>
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% else %}
		<p>No visitors found.</p>
		{% endif %}
	</div>

	<!-- Edit Visitor Modal -->
	<div id="editVisitorModal" style="display: none">
		<div class="modal-content">
			<span class="close" onclick="closeEditModal()"
				>&times;</span
			>
			<form
				id="editVisitorForm"
				method="post"
				onsubmit="submitEditForm(event)"
			>
				<div id="modalFormContent"></div>
			</form>
		</div>
	</div>

	<script>
		function openEditModal(visitorId) {
			fetch(`/ajax/visitors/edit/${visitorId}/`)
				.then((response) => response.json())
				.then((data) => {
					if (data.success) {
						document.getElementById(
							'modalFormContent'
						).innerHTML = data.html;
						document.getElementById(
							'editVisitorModal'
						).style.display = 'block';
					} else {
						alert('Error loading form');
					}
				});
		}

		function deleteVisitor(event, visitorId) {
			event.preventDefault();
			fetch(`/ajax/visitors/delete/${visitorId}/`, {
				method: 'POST',
				headers: {
					'X-CSRFToken': event.target.querySelector(
						'[name=csrfmiddlewaretoken]'
					).value,
				},
			})
				.then((response) => response.json())
				.then((data) => {
					if (data.success) {
						document
							.getElementById(`visitor-${visitorId}`)
							.remove();
					} else {
						alert('Error deleting visitor');
					}
				});
		}

		function submitEditForm(event) {
			event.preventDefault();
			const formData = new FormData(event.target);
			const visitorId = formData.get('id');
			fetch(`/ajax/visitors/update/${visitorId}/`, {
				method: 'POST',
				body: formData,
			})
				.then((response) => {
					if (!response.ok) {
						throw new Error('Network response was not ok');
					}
					return response.json();
				})
				.then((data) => {
					if (data.success) {
						updateVisitorRow(visitorId, formData);
						closeEditModal();
					} else {
						alert(
							'Error updating visitor: ' +
								JSON.stringify(data.errors)
						);
					}
				})
				.catch((error) => {
					console.error(
						'An error occurred while updating the visitor. Error:',
						error
					);
				});
		}

		function updateVisitorRow(visitorId, formData) {
			const row = document.getElementById(
				`visitor-${visitorId}`
			);
			if (row) {
				row.querySelector('td:nth-child(1)').textContent =
					formData.get('name');
				row.querySelector('td:nth-child(2)').textContent =
					formData.get('email');
				row.querySelector('td:nth-child(3)').textContent =
					formData.get('phone');
				row.querySelector('td:nth-child(4)').textContent =
					formData.get('favorite_thing_to_cook');
				row.querySelector('td:nth-child(5)').textContent =
					formData.get('additional_comments');
			} else {
				console.error(
					'Row not found for visitor ID:',
					visitorId
				);
			}
		}

		function closeEditModal() {
			document.getElementById(
				'editVisitorModal'
			).style.display = 'none';
		}
	</script>
	{% endblock %}
</body>
