header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 40px;
	background-color: #cb9c1d;
	color: #fff;
}
.header-logo {
}

.header-dropdown {
}

.header-home-link,
.header-about-link,
header-contact-link,
header-github-link,
header-linkedin-link,
header-portfolio-link {
}

.logo {
	width: 100px;
	height: auto;
	margin-right: 1rem;
}

.nav-left,
.nav-right {
	display: flex;
	align-items: center;
	padding: 0 20px;
}

.nav-left {
	position: relative;
}

.nav-left .dropdown {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: #999;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	z-index: 1;
	margin-top: -8px;
	margin-left: 20px;
	width: 150px;
}

.nav-left:hover .dropdown {
	display: block;
}

.nav-left .dropdown a {
	display: block;
	padding: 1rem;
	color: #fff;
	text-decoration: none;
}

.nav-left .dropdown a:hover {
	background-color: #444;
}

.nav-left-header {
	padding-right: 30px;
}

.nav-right a {
	margin-left: 1rem;
	color: #fff;
	text-decoration: none;
}

.nav-right a:hover {
	text-decoration: underline;
}

.nav-right-header {
	span {
		color: #234856;
	}
	a {
		color: #2a2356;
	}
}
