{% extends 'base.html' %} {% block content %}
<div class="about-container">
	<div class="about-content">
		<h1 class="about-title">David Sheinbein</h1>
		<p class="about-role">Full Stack Developer</p>
		<p class="about-location">
			Los Angeles, CA |
			<a href="tel:+13106285770">(310) 628-5770</a> |
			<a href="mailto:davidsheinbeindev@gmail.com"
				>davidsheinbeindev@gmail.com</a
			>
		</p>
		<p class="about-links">
			davidsheinbeinengineer.com | github.com/davesheinbein
			| linkedin.com/in/david-sheinbein
		</p>
		<h2 class="about-summary-title">Summary</h2>
		<p class="about-summary">
			Full Stack Developer with 5+ years of experience
			managing diverse projects, from small initiatives to
			multi-million dollar enterprises. Proven ability to
			deliver impactful results across 5+ tech stacks
			weekly, excelling in feature development and legacy
			code upkeep for optimal outcomes.
		</p>
		<h2 class="about-experience-title">
			Professional Experience
		</h2>
		<h3 class="about-job-title">
			Internet Brands — El Segundo, CA (January 2021 -
			September 2024)
		</h3>
		<p class="about-job-role">Frontend Developer</p>
		<ul class="about-job-duties">
			<li>
				Spearheaded the design and troubleshooting of
				components across 50+ major brand projects,
				including WebMD, Officite, and Demandforce,
				significantly enhancing the user experience for over
				10,000 users.
			</li>
			<li>
				Designed and implemented UI solutions with HTML,
				CSS, and TypeScript, introducing 50+ features and
				fixing thousands of bugs to improve the online forms
				app for healthcare professionals.
			</li>
			<li>
				Revamped UI libraries to significantly enhance
				online forms, implementing hundreds of new features
				like a search-enabled multiselect dropdown,
				resulting in improved functionality, navigability,
				and user satisfaction.
			</li>
			<li>
				Enhanced user engagement by deploying an intuitive
				UI that incorporated automated ID verification and
				seamlessly integrated with RESTful APIs, delivering
				JSON data encompassing user account details and
				hundreds of personal health information data points,
				resulting in substantial improvements in user
				satisfaction and operational efficiency.
			</li>
			<li>
				Resolved up to 30+ Jira issues per sprint across
				various branches by utilizing React, Angular,
				Python, PHP, FTL, and additional technologies,
				guaranteeing stable deployments both with and
				without Figma designs.
			</li>
			<li>
				Executed rapid resolutions for high-priority issues,
				including deploying the critical Hopkit package just
				10 minutes before the scheduled release, ensuring
				uninterrupted project progress and success across
				brands.
			</li>
			<li>
				Collaborated with cross-functional teams to design
				and implement 40+ self-service password reset pages
				and custom email solutions, enhancing user autonomy
				and security while balancing additional priorities
				seamlessly.
			</li>
			<li>
				Streamlined team workflows by facilitating knowledge
				transfer across 25+ repositories, creating
				comprehensive developer guides for installation,
				package management, and node setup, leading to the
				resolution of hundreds of tickets in an AGILE
				environment.
			</li>
			<li>
				Presented updates to 30-100 stakeholders at weekly
				stand-ups and cross-team meetings, improving
				communication, fostering collaboration, delivering
				demos for project managers, marketing, and sales
				teams.
			</li>
		</ul>
		<h3 class="about-job-title">
			SuperWorld — Los Angeles, CA (September 2020 - January
			2021)
		</h3>
		<p class="about-job-role">Frontend Developer</p>
		<ul class="about-job-duties">
			<li>
				Integrated geolocation API updates, enhancing map
				and blockchain functionality connecting 2 datasets
				and enabling users to plot hundreds of custom data
				points.
			</li>
			<li>
				Enhanced user accessibility by constructing
				intricate front-end applications with HTML, CSS, and
				JavaScript, ensuring seamless display across mobile,
				tablet, and desktop devices.
			</li>
			<li>
				Standardized visuals across 10+ components using
				Bootstrap and Reactstrap, improving UI
				responsiveness and visual consistency.
			</li>
			<li>
				Boosted reliability with object-oriented design and
				test-driven development, improving reusability in
				blockchain web apps and streamlining feature
				deployment.
			</li>
		</ul>
		<h2 class="about-education-title">Education</h2>
		<p class="about-education">
			General Assembly — Los Angeles, CA (May 2020 - August
			2020)
		</p>
		<p class="about-education-role">
			Software Engineering Immersive
		</p>
		<p class="about-education">
			University of Colorado — Boulder, CO (August 2013 -
			May 2018)
		</p>
		<p class="about-education-role">
			Bachelor of Arts in Communications
		</p>
		<p class="about-education-role">
			Bachelor of Arts in Media Production
		</p>
		<h2 class="about-skills-title">Skills</h2>
		<p class="about-skills">
			Angular, Axios, AWS, CSS, D3, Django, Docker, Express,
			Git, HTML, JavaScript, Jenkins, Jest, JSON, Mongoose,
			MongoDB, MySQL, Node, Python, QA, React, Redux, RxJS,
			SASS, Styled Components, Tailwind CSS, TypeScript, Web
			Design, Webpack, and more.
		</p>
	</div>
</div>
{% endblock %}
