<html>
	<head>
		<link
			rel="stylesheet"
			type="text/css"
			href="/static/styles.css"
		/>
	</head>
	<body class="contact-body">
		{% include 'header.html' %}
		<div class="container contact-container">
			<h1 class="contact-title">Contact Us</h1>
			<p class="contact-info">
				If you have any questions, feel free to reach out to
				us.
			</p>
			<p class="contact-email">Email: contact@davidsheinbein.com</p>
			<p class="contact-phone">Phone: (123) 456-7890</p>
		</div>
		{% include 'footer.html' %}
	</body>
</html>
