{% extends 'base.html' %} {% load static %}
<body class="contact-body">
	{% block content %}
	<div class="contact">
		<div class="contact-container">
			<h1 class="contact-title">Contact Us</h1>
			<p class="contact-info">
				If you have any questions, feel free to reach out to
				out.
			</p>
			<p class="contact-email">
				Email:
				<a href="mailto:davidsheinbeindev@gmail.com"
					>davidsheinbeindev@gmail.com</a
				>
			</p>
			<p class="contact-phone">
				Phone: <a href="tel:+13106285770">(310) 628-5770</a>
			</p>
		</div>
		{% if user.is_authenticated %}
		<div class="form-container">
			<form method="post" class="visitor-form">
				<h2 class="visitor-form-title">Who are you?</h2>
				{% csrf_token %}
				<!-- prettier-ignore -->
				{{ form.as_p }}
				<button type="submit" class="btn-submit">
					Submit
				</button>
			</form>
			{% if success %}
			<p class="form-success">
				Thank you! Your data has been submitted.
			</p>
			{% endif %}
		</div>
		{% else %}
		<p>
			Please <a href="{% url 'login' %}">login</a> to fill
			out the form.
		</p>
		{% endif %}
	</div>
	{% endblock %}
</body>
