<header class="site-header">
	<div class="nav-left header-nav-left">
		<a href="/"
			><img
				src="https://i.imgur.com/JG0XupS.png"
				alt="David Sheinbein"
				class="logo header-logo"
		/></a>
		<div class="dropdown header-dropdown">
			<a href="/" class="header-home-link"><i class="fas fa-home"></i> Home</a>
			<a href="/about/" class="header-about-link"><i class="fas fa-info-circle"></i> About</a>
			<a href="/contact/" class="header-contact-link"><i class="fas fa-envelope"></i> Contact</a>
		</div>
	</div>
	<div class="nav-right header-nav-right">
		<a
			href="https://github.com/davesheinbein"
			target="_blank"
			class="header-github-link"
			><i class="fab fa-github"></i> GitHub</a
		>
		<a
			href="https://linkedin.com/in/david-sheinbein"
			target="_blank"
			class="header-linkedin-link"
			><i class="fab fa-linkedin"></i> LinkedIn</a
		>
		<a
			href="https://davidsheinbeinengineer.com"
			target="_blank"
			class="header-portfolio-link"
			><i class="fas fa-briefcase"></i> Portfolio</a
		>
	</div>
</header>
