<html>
	<head>
		<link
			rel="stylesheet"
			type="text/css"
			href="/static/styles.css"
		/>
	</head>
	<body class="home-body">
		{% include 'header.html' %}
		<div class="container home-container">
			<h1 class="home-title">Hi there! This is the Home page.</h1>
			<p class="home-welcome">
				Welcome to our website. We are glad to have you
				here.
			</p>
			<p class="home-services">
				Our website offers a variety of services and
				information.
			</p>
			<p class="home-browse">
				Feel free to browse around and learn more about what
				we do.
			</p>
			<p class="home-contact">
				Contact us if you have any questions or need further
				assistance.
			</p>
		</div>
		{% include 'footer.html' %}
	</body>
</html>
