{% extends 'base.html' %} {% block content %}
<div class="home">
	<div class="home-container">
		<h1 class="home-title">David Sheinbein</h1>
		<p class="home-welcome">Full Stack Developer</p>
		<p class="home-services">
			Based in Los Angeles, CA, David Sheinbein is a
			seasoned Full Stack Developer with over 5 years of
			experience in managing diverse projects, from small
			initiatives to multi-million dollar enterprises.
		</p>
		<p class="home-browse">
			David excels in feature development and legacy code
			upkeep, delivering impactful results across various
			tech stacks. His expertise includes Angular, React,
			Django, and more.
		</p>
		<p class="home-contact">
			Feel free to explore his portfolio and reach out if
			you have any questions or need further assistance.
		</p>
		{% if success %}
		<p class="form-success">
			Thank you! Your data has been submitted.
		</p>
		{% endif %}
	</div>
</div>
{% endblock %}
